<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="['/', 'home', 'tabs', 'builds']"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Build Viewer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-guide-viewer
    *ngIf="guide
	&& firstPrimaryRune
	&& secondPrimaryRune
	&& thirdPrimaryRune
	&& fourthPrimaryRune
	&& firstSecondaryRune
	&& secondSecondaryRune
	&& thirdSecondaryRune
	&& firstSpell
	&& secondSpell
	&& items
	&& championThreats"
    [guide]="guide"
    [guideCreatorUsername]="guideCreatorUsername"
    [firstPrimaryRune]="firstPrimaryRune"
    [secondPrimaryRune]="secondPrimaryRune"
    [thirdPrimaryRune]="thirdPrimaryRune"
    [fourthPrimaryRune]="fourthPrimaryRune"
    [firstSecondaryRune]="firstSecondaryRune"
    [secondSecondaryRune]="secondSecondaryRune"
    [thirdSecondaryRune]="thirdSecondaryRune"
    [firstSpell]="firstSpell"
    [secondSpell]="secondSpell"
    [items]="items"
    [championThreats]="championThreats"
    (slideChangeEmitter)="handleSlideChange()"
  ></app-guide-viewer>
</ion-content>
