<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title>Recover Password</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <div>
      <ion-grid>
         <ion-row class="ion-align-items-center">
            <ion-col>
               <h1>Forgot your Password?</h1>
               <p>
                  Don't worry! Just fill in your email and we'll send you a link
                  to reset it
               </p>
            </ion-col>
         </ion-row>
         <ion-row class="ion-align-items-center">
            <ion-col>
               <ion-item>
                  <ion-input
                     primary
                     type="email"
                     placeholder="Type your email"
                     [formControl]="email"
                  ></ion-input>
               </ion-item>
            </ion-col>
         </ion-row>
         <ion-row class="ion-align-items-center">
            <ion-col>
               <ion-button
                  [disabled]="!email.valid"
                  expand="block"
                  (click)="onSubmit()"
               >
                  Send Recovery Link
               </ion-button>
            </ion-col>
         </ion-row>
      </ion-grid>
   </div>
</ion-content>
