<ion-header>
  <ion-row>
    <ion-col size-lg="6" offset-lg="3">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Recover Password</ion-title>
      </ion-toolbar>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset-lg="3" size-lg="6">
        <ion-item>
          <ion-text color="primary">
            <h1>Forgot your Password?</h1>
          </ion-text>
        </ion-item>
        <ion-item>
          <p>
            Don't worry! Just fill in your email and we'll send you a link to
            reset it
          </p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-lg="3" size-lg="6">
        <ion-item>
          <ion-input
            primary
            type="email"
            placeholder="Type your email"
            [formControl]="email"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-lg="3" size-lg="6">
        <ion-button
          [disabled]="!email.valid || isLoading"
          expand="block"
          (click)="onSubmit()"
        >
          Send Recovery Link
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="isEmailSent" expand="block" (click)="redirect()">
          Go back to Login
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
