ion-content {
   h1 {
      color: var(--ion-color-primary);
   }
   p {
      color: var(--ion-color-light);
   }

   h1,
   p {
      text-align: center;
   }

   p,
   ion-item,
   ion-button {
      max-width: 80%;
      margin: 0 auto;
   }
   .validation-item {
      margin-top: 10px auto;
   }
}
