<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title>Change Password</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid fixed>
      <ion-row>
         <ion-col size="12">
            <p>
               Changing your password is easy. Just feel out the form below.
            </p>
         </ion-col>
      </ion-row>
      <form (ngSubmit)="handleSubmit()">
         <ion-item>
            <ion-label position="stacked">
               Your email
            </ion-label>
            <ion-input
               type="email"
               class="form-control"
               id="email"
               required
               [(ngModel)]="user.email"
               name="email"
            ></ion-input>
         </ion-item>

         <ion-item>
            <ion-label position="stacked">
               Your old password:
            </ion-label>
            <ion-input
               type="password"
               class="form-control"
               id="password"
               required
               [(ngModel)]="user.password"
               name="password"
            ></ion-input>
         </ion-item>

         <ion-item>
            <ion-label position="stacked">
               Your new password:
            </ion-label>
            <ion-input
               type="password"
               class="form-control"
               id="newPassword"
               required
               [(ngModel)]="newPassword.password"
               name="newPassword"
            ></ion-input>
         </ion-item>

         <ion-item>
            <ion-label position="stacked">
               Retype your new password:
            </ion-label>
            <ion-input
               type="password"
               class="form-control"
               id="checkPassword"
               required
               [(ngModel)]="newPassword.checkPassword"
               name="checkPassword"
            ></ion-input>
         </ion-item>

         <ion-button type="submit" color="danger" expand="block" bottom>
            Change Password
         </ion-button>
      </form>

      <ion-item-group>
         <ng-container *ngFor="let errors of submitErrors">
            <ion-item color="danger">
               <ion-label>{{errors}}</ion-label>
            </ion-item>
         </ng-container>
      </ion-item-group>
   </ion-grid>
</ion-content>
