<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <p>
          Changing your password is easy. Just feel out the form below.
        </p>
      </ion-col>
    </ion-row>
    <form [formGroup]="changePasswordForm" (ngSubmit)="handleSubmit()">
      <ion-item>
        <ion-label position="stacked" for="email">
          Your email
        </ion-label>
        <ion-input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          name="email"
        ></ion-input>
      </ion-item>

      <ion-item
        *ngIf="changePasswordForm.controls['email'].hasError('required') &&
				 changePasswordForm.controls['email'].pristine == false"
      >
        <ion-label>
          <ion-text color="danger">
            Email is required
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item
        *ngIf="(changePasswordForm.controls['email'].hasError('email') || changePasswordForm.controls['email'].hasError('invalidemailformat')) &&
				 changePasswordForm.controls['email'].pristine == false"
      >
        <ion-label>
          <ion-text color="danger">
            Invalid email format
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" for="currentPassword">
          Your old password:
        </ion-label>
        <ion-input
          type="password"
          class="form-control"
          id="currentPassword"
          name="currentPassword"
          formControlName="currentPassword"
        ></ion-input>
      </ion-item>

      <ion-item
        *ngIf="(changePasswordForm.controls['currentPassword'].hasError('required') || changePasswordForm.controls['currentPassword'].value === '') &&
						changePasswordForm.controls['currentPassword'].dirty"
      >
        <ion-label>
          <ion-text color="danger">
            This field is required
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Your new password:
        </ion-label>
        <ion-input
          type="password"
          class="form-control"
          id="newPassword"
          name="newPassword"
          formControlName="password"
        ></ion-input>
      </ion-item>

      <ion-item
        *ngIf="(changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].value === '') &&
			changePasswordForm.controls['password'].dirty"
      >
        <ion-label>
          <ion-text color="danger">
            This field is required
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item
        *ngIf="changePasswordForm.controls['password'].hasError('minlength') &&
				 changePasswordForm.controls['password'].dirty"
      >
        <ion-label>
          <ion-text color="danger">
            Password must have at least 6 characters
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item
        *ngIf="changePasswordForm.controls['password'].hasError('maxlength') &&
				 changePasswordForm.controls['password'].dirty"
      >
        <ion-label>
          Password must have less than 30 characters
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Retype your new password:
        </ion-label>
        <ion-input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          formControlName="confirmPassword"
        ></ion-input>
      </ion-item>

      <ion-item
        *ngIf="changePasswordForm.controls['confirmPassword'].dirty && changePasswordForm.controls['confirmPassword'].hasError('NoPasswordMatch')"
      >
        <ion-label>
          <ion-text color="danger">
            Passwords do not match!
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item
        *ngIf="changePasswordForm.controls['password'].valid && changePasswordForm.controls['confirmPassword'].dirty && changePasswordForm.controls['confirmPassword'].invalid"
      >
        <ion-label>
          Passwords do not match (PTN!!!)!
        </ion-label>
      </ion-item>

      <ion-button
        type="submit"
        color="danger"
        expand="block"
        [disabled]="changePasswordForm.invalid"
      >
        Change Password
      </ion-button>
    </form>

    <ion-item-group>
      <ng-container *ngFor="let errors of submitErrors">
        <ion-item color="danger">
          <ion-label>{{errors}}</ion-label>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </ion-grid>
</ion-content>
