<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        [defaultHref]="['/', 'home', 'tabs', 'builds']"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Create Your Build</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <app-guide
    *ngIf="formStaticData"
    [staticData]="formStaticData"
    (emitGuide)="submitGuide($event)"
    (slideChangeEmitter)="handleSlideEmitter($event)"
  ></app-guide>
</ion-content>
