<ion-slides pager="false" [options]="slideOpts">
  <ion-slide>
    <app-introduction></app-introduction>
  </ion-slide>
  <ion-slide>
    <app-runes></app-runes>
  </ion-slide>
  <ion-slide>
    <app-runes></app-runes>
  </ion-slide>
  <ion-slide>
    <app-bonus></app-bonus>
  </ion-slide>
  <ion-slide>
    <app-spells></app-spells>
  </ion-slide>
  <ion-slide>
    <app-abilities-progression></app-abilities-progression>
  </ion-slide>
  <ion-slide>
    <app-items></app-items>
  </ion-slide>
  <ion-slide>
    <app-threats></app-threats>
  </ion-slide>
</ion-slides>
