<ion-item-group>
  <ion-item-divider>
    <ion-label>
      <ion-text color="primary" class="ion-text-uppercase">
        Runes
      </ion-text>
    </ion-label>
  </ion-item-divider>
  <form>
    <div [formGroup]="form" *ngIf="form">
      <div formGroupName="runes">
        <ion-item>
          <ion-label>
            Primary Rune
          </ion-label>
          <ion-select
            name="primary-rune"
            formControlName="primaryRune"
            [interfaceOptions]="customAlert"
          >
            <ion-select-option
              *ngFor="let rune of runes; index as i"
              [value]="rune.key"
              [disabled]="disabledPrimaryRunes(rune.key)"
            >
              {{ rune.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="form.value.runes.primaryRune">
          <div formGroupName="primarySlots">
            <ion-item *ngFor="let naming of namingSlots; index as i">
              <ion-label class="ion-text-capitalize"
                >{{ naming }} Slot</ion-label
              >
              <ion-select
                [formControlName]="naming"
                [interfaceOptions]="customAlert"
                interface="alert"
              >
                <ion-select-option
                  *ngFor="
                    let option of getOptions(form.value.runes.primaryRune, i)
                  "
                  [value]="option.id"
                  >{{ option.name }}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </div>
        </div>
        <ion-item *ngIf="form.value.runes.primaryRune">
          <ion-label>
            Secondary Rune
          </ion-label>
          <ion-select
            name="secondary-rune"
            formControlName="secondaryRune"
            [interfaceOptions]="customAlert"
          >
            <div *ngFor="let rune of runes; index as i">
              <ion-select-option
                [value]="rune.key"
                [disabled]="disabledSecondaryRunes(rune.key)"
              >
                {{ rune.name }}
              </ion-select-option>
            </div>
          </ion-select>
        </ion-item>

        <ng-container *ngIf="form.value.runes.secondaryRune">
          <div formGroupName="secondarySlots">
            <ng-container *ngFor="let naming of namingSlotsSecond; index as j">
              <ion-item>
                <ion-label class="ion-text-capitalize">
                  {{ naming }} Slot
                </ion-label>
                <ion-select
                  formControlName="{{ naming }}"
                  [interfaceOptions]="customAlert"
                >
                  <ion-select-option
                    *ngFor="let slot of getSecondaryRunes()"
                    [value]="slot.key"
                    [disabled]="disablePolicy(slot.key)"
                  >
                    {{ slot.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-textarea
          formControlName="runesDescription"
          placeholder="Add a Description"
        ></ion-textarea>
      </ion-item>
    </div>
  </form>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary" (click)="handleGoBack()"
          >Previous</ion-button
        >
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button
          color="primary"
          (click)="handleFormEmitter()"
          [disabled]="!form.valid"
          >Next</ion-button
        >
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-item-group>
