<div class="container">
  <span class="overlay overlay-top overlay-left">
    <ion-text color="primary">{{ name }}</ion-text>
  </span>
  <ion-img
    src="{{ resUrl }}/img/champion/splash/{{ champion }}_0.jpg"
    alt=""
    height="100%"
    width="100%"
  ></ion-img>
  <span class="overlay overlay-bottom overlay-left">
    <ion-text color="primary">Role: </ion-text>
    <ion-text color="light" class="ion-text-capitalize">{{ role }}</ion-text>
  </span>
  <span class="overlay overlay-bottom overlay-right">
    <ion-text color="primary">Patch: </ion-text>
    <ion-text color="light">{{ patch }}</ion-text>
  </span>
</div>
