.container {
  position: relative;
  max-width: 100%;

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    width: 100%;
    font-size: 1rem;
  }

  .overlay-left {
    text-align: left;
    left: 0;
    padding-left: 24px;
  }

  .overlay-right {
    text-align: right;
    right: 0;
    padding-right: 24px;
  }

  .overlay-top {
    top: 0;
    padding-top: 16px;
  }

  .overlay-bottom {
    bottom: 0;
    padding-bottom: 16px;
  }
}
