<!-- (ionChange)="segmentChanged($event)" -->

<ion-row>
  <ion-col size-lg="6" offset-lg="3" class="ion-no-padding">
    <ion-segment scrollable [(ngModel)]="segment">
      <ion-segment-button [disabled]="setDisabledSegment(0)" value="0"
        >introduction</ion-segment-button
      >
      <ion-segment-button [disabled]="setDisabledSegment(1)" value="1"
        >runes</ion-segment-button
      >
      <ion-segment-button [disabled]="setDisabledSegment(2)" value="2"
        >bonus</ion-segment-button
      >
      <ion-segment-button [disabled]="setDisabledSegment(3)" value="3"
        >spells</ion-segment-button
      >
      <ion-segment-button [disabled]="setDisabledSegment(4)" value="4"
        >items</ion-segment-button
      >
      <ion-segment-button [disabled]="setDisabledSegment(5)" value="5"
        >progression</ion-segment-button
      >
      <ion-segment-button [disabled]="setDisabledSegment(6)" value="6"
        >threats</ion-segment-button
      >
    </ion-segment>
  </ion-col>
</ion-row>
<ion-slides
  *ngIf="loaded"
  pager="false"
  [options]="slideOpts"
  #slider
  (ionSlideDidChange)="slideChanged(slides)"
  (ionSlidesDidLoad)="slideChanged(slides)"
>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <app-intro
            [champions]="staticData.champions"
            [formValues]="introValues"
            (formEmitter)="handleIntroFormEmitter($event)"
          ></app-intro>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <app-runes
            [runes]="staticData.paths"
            [formValues]="runeValues"
            (formEmitter)="handleRunesFormEmitter($event)"
            (goBack)="slidePrevious()"
          ></app-runes>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <app-bonus
            [formValues]="bonusValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleBonusFormEmitter($event)"
          ></app-bonus>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <app-spells
            [spells]="staticData.spells"
            [formValues]="spellsValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleSpellsFormEmitter($event)"
          ></app-spells>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <app-items
            [items]="staticData.items"
            [formValues]="itemsValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleItemsFormEmitter($event)"
          ></app-items>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <app-abilities
            [champion]="getChampion()"
            [formValues]="abilitiesValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleAbilitiesFormEmitter($event)"
          ></app-abilities>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <app-threats
            [champions]="staticData.champions"
            [formValues]="threatsValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleThreatsFormEmitter($event)"
          ></app-threats>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>
