<ion-slides
  *ngIf="loaded"
  pager="false"
  [options]="slideOpts"
  #slider
  (ionSlideDidChange)="handleSlideChange()"
>
  <ion-slide>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-intro
            [champions]="staticData.champions"
            [formValues]="introValues"
            (formEmitter)="handleIntroFormEmitter($event)"
          ></app-intro>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-runes
            [runes]="staticData.paths"
            [formValues]="runeValues"
            (formEmitter)="handleRunesFormEmitter($event)"
            (goBack)="slidePrevious()"
          ></app-runes>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-bonus
            [formValues]="bonusValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleBonusFormEmitter($event)"
          ></app-bonus>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-spells
            [spells]="staticData.spells"
            [formValues]="spellsValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleSpellsFormEmitter($event)"
          ></app-spells>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-items
            [items]="staticData.items"
            [formValues]="itemsValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleItemsFormEmitter($event)"
          ></app-items>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-abilities
            [champion]="getChampion()"
            [formValues]="abilitiesValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleAbilitiesFormEmitter($event)"
          ></app-abilities>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-threats
            [champions]="staticData.champions"
            [formValues]="threatsValues"
            (goBackEmitter)="slidePrevious()"
            (formEmitter)="handleThreatsFormEmitter($event)"
          ></app-threats>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>
