<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <h1 class="title slide-title">
        <ion-text color="primary"> {{ order }} Path: </ion-text>
        <ion-text color="light">{{ path }}</ion-text>
      </h1>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="order === 'first'">
    <ion-col size="12">
      <ion-item>
        <p class="item-section-description">
          {{ description }}
        </p>
      </ion-item>
    </ion-col>
  </ion-row>
  <div>
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-img src="{{ resUrl }}/img/{{ firstRune.icon }}" class="rune-img">
        </ion-img>
      </ion-col>
      <ion-col size="9">
        <h2 class="sub-title">
          <ion-text color="primary">
            {{ firstRune.name }}
          </ion-text>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p
          class="rune-description"
          [innerHTML]="firstRune.longDesc | safeHtml"
        ></p>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-img src="{{ resUrl }}/img/{{ secondRune.icon }}" class="rune-img">
        </ion-img>
      </ion-col>
      <ion-col size="9">
        <h2 class="sub-title">
          <ion-text color="primary">
            {{ secondRune.name }}
          </ion-text>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p
          class="rune-description"
          [innerHTML]="secondRune.longDesc | safeHtml"
        ></p>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-img src="{{ resUrl }}/img/{{ thirdRune.icon }}" class="rune-img">
        </ion-img>
      </ion-col>
      <ion-col size="9">
        <h2 class="sub-title">
          <ion-text color="primary">
            {{ thirdRune.name }}
          </ion-text>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p
          class="rune-description"
          [innerHTML]="thirdRune.longDesc | safeHtml"
        ></p>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="order === 'first'">
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-img src="{{ resUrl }}/img/{{ fouthRune.icon }}" class="rune-img">
        </ion-img>
      </ion-col>
      <ion-col size="9">
        <h2 class="sub-title">
          <ion-text color="primary">
            {{ fouthRune.name }}
          </ion-text>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p
          class="rune-description"
          [innerHTML]="fouthRune.longDesc | safeHtml"
        ></p>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
