<ion-header class="body-margin">
   <ion-toolbar>
      <ion-title>My Guides</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
   <ng-container *ngIf="userBuilds && userBuilds.length === 0 && !isLoading">
      <div class="alert-holder">
         <div class="alert">
            <h1>
               <ion-text color="primary">Get Started!!!</ion-text>
            </h1>
            <p class="no-guides-alert">
               With Summoner's Helper creating one is fast and simple as it can
               be.
            </p>
         </div>
      </div>
   </ng-container>

   <ng-container *ngIf="connectionFailed && !isLoading">
      <div class="error-holder">
         <div class="error">
            <img src="../../../../assets/server-down.svg" alt="" />
            <h1>
               <ion-text color="primary">
                  Oops
               </ion-text>
            </h1>
            <p>We couldn't connect to our servers</p>
            <ion-button (click)="loadGuides()">Try Again?</ion-button>
         </div>
      </div>
   </ng-container>
   <ion-grid *ngIf="userBuilds && !isLoading" class="ion-padding">
      <ion-list>
         <ion-item *ngFor="let build of userBuilds; index as i;">
            <ion-avatar slot="start">
               <ion-img
                  src="{{resUrl}}/{{patchVersion}}/img/champion/{{build.champion}}.png"
               >
               </ion-img>
            </ion-avatar>
            <ion-label>
               <a routerLink="build-view/{{build._id}}" class="link-style">
                  <ion-text color="primary">
                     <h3>{{build.name}}</h3>
                  </ion-text>
                  <ion-text color="light">
                     <h4>
                        {{build.patch}}
                     </h4>
                  </ion-text>
               </a>
            </ion-label>
            <a routerLink="build-edit/{{build._id}}">
               <ion-icon color="primary" slot="end" name="build"></ion-icon>
            </a>
            <ion-icon
               color="primary"
               slot="end"
               name="close"
               (click)="presentAlertConfirm(build.name, build._id)"
            ></ion-icon>
         </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="loadGuides(true, $event)">
         <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more guides..."
         >
         </ion-infinite-scroll-content>
      </ion-infinite-scroll>
   </ion-grid>

   <ng-container *ngIf="isLoading">
      <ion-spinner name="crescent"></ion-spinner>
   </ng-container>
</ion-content>
<a routerLink="build-modelling">
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
         <ion-icon name="add"></ion-icon>
      </ion-fab-button>
   </ion-fab>
</a>
