<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-title>My Guides</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="userBuilds && userBuilds.length === 0 && !isLoading">
    <ion-grid>
      <ion-row>
        <ion-col offset-lg="3" size-lg="6">
          <div class="alert-holder">
            <div class="alert">
              <h1>
                <ion-text color="primary">Get Started!!!</ion-text>
              </h1>
              <p class="no-guides-alert">
                With Summoner's Helper creating one is fast and simple as it can
                be.
              </p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="connectionFailed && !isLoading">
    <app-error-message
      [messageTitle]="'Something went Wrong'"
      [messageText]="'We couldn\'t connect to our servers'"
      [imageSource]="'../../../../assets/server-down.svg'"
      [tryAgainMessage]="'Try Again?'"
      (reloadEmitter)="callLoad($event)"
    ></app-error-message>
  </ng-container>
  <ng-container *ngIf="userBuilds && userBuilds.length > 0 && !isLoading">
    <ion-grid>
      <ion-row>
        <ion-col offset-lg="3" size-lg="6">
          <ion-list>
            <ion-list-header>
              <ion-label>Your Guides</ion-label>
            </ion-list-header>
            <ng-container *ngFor="let build of userBuilds; index as i;">
              <app-guide-item
                [guide]="build"
                (presentAlert)="callPresentAlertCofirm($event)"
              ></app-guide-item>
            </ng-container>
          </ion-list>

          <ion-infinite-scroll (ionInfinite)="loadGuides(true, $event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more guides..."
            >
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </ng-container>
</ion-content>
<a routerLink="build-modelling">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</a>
