<ion-header>
  <ion-toolbar>
    <ion-title class="title">SH</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="subTitle">Summoner's Helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input
      primary
      type="email"
      placeholder="Insira seu email"
      [(ngModel)]="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      primary
      type="password"
      placeholder="Insira sua Senha"
      [(ngModel)]="password"
    ></ion-input>
  </ion-item>
  <a routerLink="/recuperarConta" class="recuperarConta"
    >Recuperar minha conta</a
  >
  <ion-button expand="block" (click)="login()">
    Entrar
  </ion-button>
  <a routerLink="/home" class="btn">
    <ion-button expand="block">
      Continuar Sem Cadastro
    </ion-button>
  </a>

  <h2>
    Não possui uma conta? <a routerLink="/cadastro" class="">Cadastre-se</a>
  </h2>
</ion-content>
