ion-header {
  background: #101b1c;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    font-size: 52px;
    font-family: "EB Garamond";
    color: #fff;
  }

  .subTitle {
    font-family: "EB Garamond";
    font-size: 14px;
    color: #82733b;
  }
}

ion-header::after {
  background-image: none;
}

ion-content {
  font-family: "EB Garamond";
  background: #101b1c;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  ion-item {
    max-width: 80%;
    margin: 10px auto;

    ion-input {
      color: #fff;
      font-family: "EB Garamond";
    }
  }

  .recuperarConta {
    max-width: 80%;

    display: block;
    text-align: end;
    margin: 16px auto;
    color: #fff;
  }

  ion-button {
    max-width: 80%;
    margin: 16px auto;
    font-family: "EB Garamond";
  }
  //
  h2 {
    font-size: 0.95em;
    text-align: center;
    color: #fff;

    a {
      color: #3880ff;
    }
  }
}
