<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size-lg="6" offset-lg="3">
      <ion-img
        src="{{ resUrl }}/img/champion/splash/{{ champion }}_0.jpg"
        alt="{{ champion }} splash screen"
        height="100%"
        width="100%"
      ></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size-lg="6" offset-lg="3">
      <ion-list>
        <ion-item>
          <ion-text color="primary">
            <h1 class="ion-text-start">{{ name }}</h1>
          </ion-text>
        </ion-item>
        <ion-item>
          <p class="ion-text-start">{{ introduction }}</p>
        </ion-item>
        <ion-item>
          <ion-text color="primary">
            <span>Champion: </span>
          </ion-text>
          <ion-text color="light">
            <span> {{ champion }}</span>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text color="primary">
            <span>Patch: </span>
          </ion-text>
          <ion-text color="light">
            <span>{{ patch }}</span>
          </ion-text>
        </ion-item>
        <ion-item *ngIf="updatedOn">
          <ion-text color="primary">
            <span>Last Updated: </span>
          </ion-text>
          <ion-text color="light"
            ><span>{{ updatedOn | date }}</span></ion-text
          >
        </ion-item>
        <ion-item *ngIf="!updatedOn">
          <p class="bottom-content">
            <ion-text color="primary">Created On: </ion-text>
            <ion-text color="light">{{ createdOn | date }}</ion-text>
          </p>
        </ion-item>
        <ion-item *ngIf="creatorUsername; else creatorNotFound">
          <p class="bottom-content">
            <ion-text color="primary">Created by: </ion-text>
            <ion-text color="light">{{ creatorUsername }}</ion-text>
          </p>
        </ion-item>
        <ng-template #creatorNotFound>
          <ion-item>
            <p class="bottom-content">
              <ion-text color="primary">Created by: </ion-text>
              <ion-text color="light">Not Found</ion-text>
            </p>
          </ion-item>
        </ng-template>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
