<ion-slides pager="false" [options]="slideOpts">
  <ion-slide>
    <app-introduction
      [name]="guide.name"
      [champion]="guide.champion"
      [role]="guide.role"
      [patch]="guide.patch"
      [introduction]="guide.introduction"
      [updatedOn]="guide.updatedOn"
      [createdOn]="guide.createdOn"
      [creatorUsername]="guideCreatorUsername"
    ></app-introduction>
  </ion-slide>
  <ion-slide>
    <app-runes
      [order]="'first'"
      [description]="guide.runesDescription"
      [path]="guide.runes.primaryRune"
      [firstRune]="firstPrimaryRune"
      [secondRune]="secondPrimaryRune"
      [thirdRune]="thirdPrimaryRune"
      [fouthRune]="fourthPrimaryRune"
    ></app-runes>
  </ion-slide>
  <ion-slide>
    <app-runes
      [order]="'second'"
      [path]="guide.runes.secondaryRune"
      [firstRune]="firstSecondaryRune"
      [secondRune]="secondSecondaryRune"
      [thirdRune]="thirdSecondaryRune"
    ></app-runes>
  </ion-slide>
  <ion-slide>
    <app-bonus
      [bonus]="guide.bonus"
      [description]="guide.bonusDescription"
    ></app-bonus>
  </ion-slide>
  <ion-slide>
    <app-spells
      [description]="guide.spellsDescription"
      [firstSpell]="firstSpell"
      [secondSpell]="secondSpell"
    ></app-spells>
  </ion-slide>
  <ion-slide>
    <app-abilities-progression></app-abilities-progression>
  </ion-slide>
  <ion-slide>
    <app-items></app-items>
  </ion-slide>
  <ion-slide>
    <app-threats></app-threats>
  </ion-slide>
</ion-slides>
