<ion-slides
  pager="false"
  [options]="slideOpts"
  (ionSlideDidChange)="handleSlideChange()"
>
  <ion-slide>
    <app-introduction
      [name]="guide.name"
      [champion]="guide.champion"
      [role]="guide.role"
      [patch]="guide.patch"
      [introduction]="guide.introduction"
      [updatedOn]="guide.updatedOn"
      [createdOn]="guide.createdOn"
      [creatorUsername]="guide.username"
    ></app-introduction>
  </ion-slide>
  <ion-slide>
    <app-runes
      [order]="'first'"
      [description]="guide.runesDescription"
      [runes]="guide.runes.primarySlots"
      [path]="guide.runes.primaryRune"
    ></app-runes>
  </ion-slide>
  <ion-slide>
    <app-runes
      [order]="'second'"
      [path]="guide.runes.primaryRune"
      [runes]="guide.runes.secondarySlots"
    ></app-runes>
  </ion-slide>
  <ion-slide>
    <app-bonus
      [bonus]="guide.bonus"
      [description]="guide.bonusDescription"
    ></app-bonus>
  </ion-slide>
  <ion-slide>
    <app-spells
      [description]="guide.spellsDescription"
      [spells]="guide.spells"
    ></app-spells>
  </ion-slide>
  <ion-slide>
    <app-abilities-progression
      [description]="guide.abilitiesProgressionDescription"
      [champion]="guide.champion"
      [progression]="guide.abilitiesProgression"
    ></app-abilities-progression>
  </ion-slide>
  <ion-slide>
    <app-items
      [description]="guide.itemsDescription"
      [itemsBlock]="guide.itemsBlock"
    ></app-items>
  </ion-slide>
  <ion-slide>
    <app-threats [threats]="guide.threats"></app-threats>
  </ion-slide>
</ion-slides>
