.heading {
   font-size: 20px;
}

ion-content {
   ion-item {
      max-width: 80%;
      margin: 10px auto;

      ion-input {
         color: #fff;
      }
   }

   ion-button {
      max-width: 80%;
      margin: 16px auto;
   }
}
