<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="heading">Cadastro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="frmSignup" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-input primary type="text" placeholder="Username" formControlName="username"></ion-input>
            <ion-label *ngIf="frmSignup.controls.username.pristine == false">
                Pristine é false
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-input primary type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input primary type="password" placeholder="Password" formControlName="password" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-input primary type="password" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" disabled="frmGroup.invalid || frmGroup.pristine">
            Cadastrar
        </ion-button>
    </form>
</ion-content>
