.error-holder {
  margin-top: calc(100vh * 0.05);
}
.error-holder,
.alert-holder {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .error,
  .alert {
    img {
      max-width: 75%;
    }
  }
  .alert {
    p {
      max-width: 75%;
      margin: 0 auto;
    }
  }
}
