<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h2>User UID</h2>
  </ion-text>
  <ion-text color="light">
    <p>{{currentUser.uid}}</p>
  </ion-text>
  <ion-text color="primary">
    <h2>Email</h2>
  </ion-text>
  <ion-text color="light">
    <p>{{currentUser.email}}</p>
  </ion-text>
</ion-content>
<ion-footer>
  <ion-button (click)="logout()" color="danger" expand="block" bottom>
    Sair
  </ion-button>
</ion-footer>
