<ion-grid>
  <ion-row>
    <ion-col offset-lg="3" size-lg="6">
      <ion-item>
        <ion-label>
          <ion-text color="primary">
            <h1>Threats</h1>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-lg="3" size-lg="6">
      <app-threat
        *ngFor="let threat of threats; index as i"
        [src]="resUrl + '/10.7.1/img/champion/' + threat.threat + '.png'"
        [name]="threat.threat"
        [description]="threat.description"
      >
      </app-threat>
    </ion-col>
  </ion-row>
</ion-grid>
