.customAlert .alert-wrapper .alert-title {
  color: var(--ion-color-primary);
  text-transform: capitalize;
}

.customAlert .alert-wrapper .alert-radio-label {
  color: var(--ion-color-light);
}

[aria-checked='true'].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
  color: var(--ion-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //  font-family: 'Lato';
  font-weight: bold;
}

p {
  //  font-family: 'Lato';
}

ion-segment {
  font-weight: bold;
}

ion-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}
