<ion-header class="body-margin">
  <ion-toolbar>
    <ion-title>Champions</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="padding">
  <ng-container *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </ng-container>

  <ng-container *ngIf="connectionFailed && !isLoading">
    <app-error-message
      [messageTitle]="'Something went Wrong'"
      [messageText]="'We couldn\'t connect to our servers'"
      [imageSource]="'../../../../assets/server-down.svg'"
      [tryAgainMessage]="'Try Again?'"
      (reloadEmitter)="callLoadContent($event)"
    ></app-error-message>
  </ng-container>

  <ion-list *ngIf="champions">
    <ion-list-header>
      <ion-label>Select a Champion</ion-label>
    </ion-list-header>

    <ion-virtual-scroll [items]="champions">
      <ng-container *virtualItem="let champion">
        <app-champion-item [champion]="champion"></app-champion-item>
      </ng-container>
    </ion-virtual-scroll>

    <ion-infinite-scroll
      threshold="100px"
      (ionInfinite)="callLoadContent($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more champions..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
