ion-content {
  .error-holder {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .error {
      img {
        max-width: 75%;
      }
    }
  }
}
