<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{guide ? guide.name : 'Loading...'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-guide-viewer
    *ngIf="guide
		&& firstPrimaryRune
		&& secondPrimaryRune
		&& thirdPrimaryRune
		&& fourthPrimaryRune
		&& firstSecondaryRune
		&& secondSecondaryRune
		&& thirdSecondaryRune
		&& firstSpell
		&& secondSpell
		&& items
		&& championThreats
		"
    [guide]="guide"
    [guideCreatorUsername]="guideCreatorUsername"
    [firstPrimaryRune]="firstPrimaryRune"
    [secondPrimaryRune]="secondPrimaryRune"
    [thirdPrimaryRune]="thirdPrimaryRune"
    [fourthPrimaryRune]="fourthPrimaryRune"
    [firstSecondaryRune]="firstSecondaryRune"
    [secondSecondaryRune]="secondSecondaryRune"
    [thirdSecondaryRune]="thirdSecondaryRune"
    [firstSpell]="firstSpell"
    [secondSpell]="secondSpell"
    [items]="items"
    [championThreats]="championThreats"
  ></app-guide-viewer>

  <ion-slides pager="false" [options]="slideOpts" *ngIf="guide">
    <ion-slide>
      <ion-grid fixed *ngIf="championThreats">
        <ion-row>
          <ion-col size="12">
            <h1 class="title slide-title">
              <ion-text color="primary">
                Threats
              </ion-text>
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ng-container *ngFor="let threat of championThreats; index as i">
              <ion-item>
                <ion-thumbnail slot="start">
                  <img
                    src="{{resUrl}}/10.7.1/img/champion/{{threat.image.full}}"
                  />
                </ion-thumbnail>
                <div class="threats">
                  <ion-text color="primary">
                    <h2 class="sub-title">{{threat.name}}</h2>
                  </ion-text>
                  <p>{{guide.threats[i].description}}</p>
                </div>
              </ion-item>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
