<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{guide ? guide.name : 'Loading...'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-guide-viewer
    *ngIf="guide
		&& firstPrimaryRune
		&& secondPrimaryRune
		&& thirdPrimaryRune
		&& fourthPrimaryRune
		&& firstSecondaryRune
		&& secondSecondaryRune
		&& thirdSecondaryRune
		&& firstSpell
		&& secondSpell"
    [guide]="guide"
    [guideCreatorUsername]="guideCreatorUsername"
    [firstPrimaryRune]="firstPrimaryRune"
    [secondPrimaryRune]="secondPrimaryRune"
    [thirdPrimaryRune]="thirdPrimaryRune"
    [fourthPrimaryRune]="fourthPrimaryRune"
    [firstSecondaryRune]="firstSecondaryRune"
    [secondSecondaryRune]="secondSecondaryRune"
    [thirdSecondaryRune]="thirdSecondaryRune"
    [firstSpell]="firstSpell"
    [secondSpell]="secondSpell"
  ></app-guide-viewer>

  <ion-slides pager="false" [options]="slideOpts" *ngIf="guide">
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <h1 class="title slide-title">
              <ion-text color="primary">
                Spells
              </ion-text>
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p class="item-section-description">
              {{guide.spellsDescription}}
            </p>
          </ion-col>
        </ion-row>
        <div *ngIf="firstSpell">
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <ion-img
                src="{{resUrl}}/10.7.1/img/spell/{{firstSpell.image.full}}"
                class="rune-img"
              >
              </ion-img>
            </ion-col>
            <ion-col size="9">
              <h2 class="sub-title">
                <ion-text color="primary">
                  {{firstSpell.name}}
                </ion-text>
              </h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p class="rune-description">
                {{firstSpell.description}}
              </p>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="secondSpell">
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <ion-img
                src="{{resUrl}}/10.7.1/img/spell/{{secondSpell.image.full}}"
                class="rune-img"
              >
              </ion-img>
            </ion-col>
            <ion-col size="9">
              <h2 class="sub-title">
                <ion-text color="primary">
                  {{secondSpell.name}}
                </ion-text>
              </h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p class="rune-description">
                {{secondSpell.description}}
              </p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid *ngIf=" abilitiesProgression">
        <ion-row>
          <ion-col size="12">
            <h1 class="title slide-title">
              <ion-text color="primary">
                Abilities Progression
              </ion-text>
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p class="item-section-description">
              {{guide.abilitiesProgressionDescription}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="flex-holder">
        <div class="box">
          <span class="level">Q</span>
        </div>
        <div class="box">
          <span class="level">W</span>
        </div>
        <div class="box">
          <span class="level">E</span>
        </div>
        <div class="box">
          <span class="level">R</span>
        </div>
      </div>
      <div class="flex-holder" *ngFor="let level of levels; index as y">
        <div *ngFor="let skill of skills; index as x">
          <div
            class="box"
            [ngClass]=" (x === abilitiesProgression[y]) ? 'active' : ''"
          >
            <span class="level" *ngIf="x === abilitiesProgression[y]"
              >{{y + 1}}</span
            >
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="items">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <h1 class="title slide-title">
              <ion-text color="primary">
                Items
              </ion-text>
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p class="item-section-description">
              {{guide.itemsDescription}}
            </p>
          </ion-col>
        </ion-row>
        <div *ngFor="let itemBlock of guide.itemsBlock">
          <ion-row>
            <ion-col size="12">
              <h2 class="title item-block-title">
                <ion-text color="primary">
                  {{itemBlock.itemRollName}}
                </ion-text>
              </h2>
            </ion-col>
          </ion-row>
          <div *ngFor="let item of itemBlock.itemArray">
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-img
                  src="{{resUrl}}/10.7.1/img/item/{{items[item.item].image.full}}"
                  class="items-img"
                >
                </ion-img>
              </ion-col>
              <ion-col size="9">
                <h2 class="sub-title">
                  <ion-text color="primary">
                    {{items[item.item].name}}
                  </ion-text>
                </h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <p
                  class="rune-description"
                  [innerHTML]="items[item.item].description | safeHtml"
                ></p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed *ngIf="championThreats">
        <ion-row>
          <ion-col size="12">
            <h1 class="title slide-title">
              <ion-text color="primary">
                Threats
              </ion-text>
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ng-container *ngFor="let threat of championThreats; index as i">
              <ion-item>
                <ion-avatar slot="start">
                  <img
                    src="{{resUrl}}/10.7.1/img/champion/{{threat.image.full}}"
                  />
                </ion-avatar>
                <div class="threats">
                  <ion-text color="primary">
                    <h2 class="sub-title">{{threat.name}}</h2>
                  </ion-text>
                  <p>{{guide.threats[i].description}}</p>
                </div>
              </ion-item>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
