<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="['/','home','tabs','builds']"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Your Build</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <app-guide
    *ngIf="guide"
    [champions]="champions"
    [runes]="runes"
    [spells]="spells"
    [items]="items"
    [guide]="guide"
    (emitGuide)="handleEmit($event)"
    (slideChangeEmitter)="handleSlideEmitter()"
  ></app-guide>
</ion-content>
