<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Edit Your Build</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="guideForm">
    <form [formGroup]="guideForm">
      <ion-item-group>
        <ion-item-divider>
          <ion-text color="primary">
            <ion-label>basic information</ion-label>
          </ion-text>
        </ion-item-divider>
        <ion-item>
          <ion-text color="light">
            <ion-label position="stacked">guide name</ion-label>
          </ion-text>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="light">
              select a champion
            </ion-text>
          </ion-label>

          <ion-select formControlName="champion">
            <ion-select-option
                *ngFor="let champion of champions"
                [value]="champion.id"
            >
              <ion-text color="light">
                {{champion.name}}
              </ion-text>
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text color="light">
              Select a Role
            </ion-text>
          </ion-label>
          <ion-select formControlName="role">
            <ion-select-option value="top">Top Lane</ion-select-option>
            <ion-select-option value="mid">Mid Lane</ion-select-option>
            <ion-select-option value="bottom">Bottom Lane</ion-select-option>
            <ion-select-option value="jungle">Jungle</ion-select-option>
            <ion-select-option value="support">Support</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <ion-text color="primary">
              Runes
            </ion-text>
          </ion-label>
        </ion-item-divider>
        <div formGroupName="runes" *ngIf="runes">
          <ion-item>
            <ion-label>
              <ion-text color="light">
                primary rune
              </ion-text>
            </ion-label>
            <ion-select name="primary-rune" formControlName="primaryRune">
              <ion-select-option
                  *ngFor="let rune of runes; index as i"
                  [value]="rune.id"
              >
                {{rune.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="guideForm.value.runes.primaryRune">
            <div [ngSwitch]="guideForm.value.runes.primaryRune">
              <div formGroupName="primarySlots">
                <div *ngSwitchCase="runes[0].id">
                  <ion-item *ngFor="let naming of namingSlots; index as j">
                    <ion-label>
                      <ion-text color="light">
                        {{naming}} Slot
                      </ion-text>
                    </ion-label>
                    <ion-select formControlName="{{naming}}">
                      <ion-select-option
                          *ngFor="let slot of runes[0].slots[j].runes;"
                          [value]="slot.id"
                      >
                        {{slot.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </div>
              <div *ngSwitchCase="runes[1].id">
                <div formGroupName="primarySlots">
                  <ion-item *ngFor="let naming of namingSlots; index as j">
                    <ion-label>
                      <ion-text color="light">
                        {{naming}} Slot
                      </ion-text>
                    </ion-label>
                    <ion-select formControlName="{{naming}}">
                      <ion-select-option
                          *ngFor="let slot of runes[1].slots[j].runes;"
                          [value]="slot.id"
                      >
                        {{slot.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </div>
              <div *ngSwitchCase="runes[2].id">
                <div formGroupName="primarySlots">
                  <ion-item *ngFor="let naming of namingSlots; index as j">
                    <ion-label>
                      <ion-text color="light">
                        {{naming}} Slot
                      </ion-text>
                    </ion-label>
                    <ion-select formControlName="{{naming}}">
                      <ion-select-option
                          *ngFor="let slot of runes[2].slots[j].runes;"
                          [value]="slot.id"
                      >
                        {{slot.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </div>
              <div *ngSwitchCase="runes[3].id">
                <div formGroupName="primarySlots">
                  <ion-item *ngFor="let naming of namingSlots; index as j">
                    <ion-label>
                      <ion-text color="light">
                        {{naming}} Slot
                      </ion-text>
                    </ion-label>
                    <ion-select formControlName="{{naming}}">
                      <ion-select-option
                          *ngFor="let slot of runes[3].slots[j].runes;"
                          [value]="slot.id"
                      >
                        {{slot.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </div>
              <div *ngSwitchCase="runes[4].id">
                <div formGroupName="primarySlots">
                  <ion-item *ngFor="let naming of namingSlots; index as j">
                    <ion-label>
                      <ion-text color="light">
                        {{naming}} Slot
                      </ion-text>
                    </ion-label>
                    <ion-select formControlName="{{naming}}">
                      <ion-select-option
                          *ngFor="let slot of runes[4].slots[j].runes;"
                          [value]="slot.id"
                      >
                        {{slot.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </div>
            </div>
          </div>
          <ion-item *ngIf="guideForm.value.runes.primaryRune">
            <ion-label>
              <ion-text color="light">
                Secondary Rune
              </ion-text>
            </ion-label>
            <ion-select name="secondary-rune" formControlName="secondaryRune">
              <div *ngFor="let rune of runes; index as i">
                <ion-select-option
                    *ngIf="this.guideForm.value.runes.primaryRune !== rune.id"
                    [value]="rune.id"
                >
                  {{rune.name}}
                </ion-select-option>
              </div>
            </ion-select>
          </ion-item>
          <div *ngIf="guideForm.value.runes.secondaryRune">
            <div [ngSwitch]="guideForm.value.runes.secondaryRune">
              <div *ngSwitchCase="runes[0].id">
                <div formGroupName="secondarySlots">
                  <div *ngFor="let naming of namingSlots; index as j">
                    <ion-item *ngIf="naming !== namingSlots[0]">
                      <ion-label>
                        <ion-text color="light">
                          {{namingSlots[j - 1]}} Slot
                        </ion-text>
                      </ion-label>
                      <ion-select formControlName="{{namingSlots[j - 1]}}">
                        <ion-select-option
                            *ngFor="let slot of runes[1].slots[j].runes;"
                        >
                          {{slot.name}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="runes[1].id">
                <div formGroupName="secondarySlots">
                  <div *ngFor="let naming of namingSlots; index as j">
                    <ion-item *ngIf="naming !== namingSlots[0]">
                      <ion-label>
                        <ion-text color="light">
                          {{namingSlots[j - 1]}} Slot
                        </ion-text>
                      </ion-label>
                      <ion-select formControlName="{{namingSlots[j - 1]}}">
                        <ion-select-option
                            *ngFor="let slot of runes[1].slots[j].runes;"
                        >
                          {{slot.name}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="runes[2].id">
                <div formGroupName="secondarySlots">
                  <div *ngFor="let naming of namingSlots; index as j">
                    <ion-item *ngIf="naming !== namingSlots[0]">
                      <ion-label>
                        <ion-text color="light">
                          {{namingSlots[j - 1]}} Slot
                        </ion-text>
                      </ion-label>
                      <ion-select formControlName="{{namingSlots[j - 1]}}">
                        <ion-select-option
                            *ngFor="let slot of runes[2].slots[j].runes;"
                        >
                          {{slot.name}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="runes[3].id">
                <div formGroupName="secondarySlots">
                  <div *ngFor="let naming of namingSlots; index as j">
                    <ion-item *ngIf="naming !== namingSlots[0]">
                      <ion-label>
                        <ion-text color="light">
                          {{namingSlots[j - 1]}} Slot
                        </ion-text>
                      </ion-label>
                      <ion-select formControlName="{{namingSlots[j - 1]}}">
                        <ion-select-option
                            *ngFor="let slot of runes[3].slots[j].runes;"
                        >
                          {{slot.name}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="runes[4].id">
                <div formGroupName="secondarySlots">
                  <div *ngFor="let naming of namingSlots; index as j">
                    <ion-item *ngIf="naming !== namingSlots[0]">
                      <ion-label>
                        <ion-text color="light">
                          {{namingSlots[j - 1]}} Slot
                        </ion-text>
                      </ion-label>
                      <ion-select formControlName="{{namingSlots[j - 1]}}">
                        <ion-select-option
                            *ngFor="let slot of runes[4].slots[j].runes;"
                        >
                          {{slot.name}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <ion-text color="primary">
              Bonus
            </ion-text>
          </ion-label>
        </ion-item-divider>
        <div formGroupName="bonus">
          <ion-item>
            <ion-label>
              <ion-text color="light">
                Fist Bonus
              </ion-text>
            </ion-label>
            <ion-select formControlName="slotOne">
              <div *ngFor="let firstBonus of bonus.first; index as i">
                <ion-select-option value="{{firstBonus}}"
                >{{firstBonus}}</ion-select-option
                >
              </div>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-text color="light">
                Second Bonus
              </ion-text>
            </ion-label>
            <ion-select formControlName="slotOne">
              <div *ngFor="let secondBonus of bonus.second; index as i">
                <ion-select-option value="{{secondBonus}}"
                >{{secondBonus}}</ion-select-option
                >
              </div>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-text color="light">
                Third Bonus
              </ion-text>
            </ion-label>
            <ion-select formControlName="slotOne">
              <div *ngFor="let thirdBonus of bonus.third; index as i">
                <ion-select-option value="{{thirdBonus}}"
                >{{thirdBonus}}
                </ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </div>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <ion-text>
              Spells
            </ion-text>
          </ion-label>
        </ion-item-divider>
        <div formGroupName="spells">
          <ion-item>
            <ion-label>
              <ion-text color="light">
                First Spell
              </ion-text>
            </ion-label>
            <ion-select
                aria-placeholder="Select Your Spell"
                formControlName="first"
            >
              <div *ngFor="let spell of spells; index as i">
                <ion-select-option
                    *ngIf="this.guideForm.value.spells.second !== spell.id"
                    value="{{spell.id}}"
                >
                  {{spell.name}}</ion-select-option
                >
              </div>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="guideForm.value.spells.first">
            <ion-label>
              <ion-text color="light">
                Second Spell
              </ion-text>
            </ion-label>
            <ion-select formControlName="second">
              <div *ngFor="let spell of spells; index as i">
                <ion-select-option
                    *ngIf="this.guideForm.value.spells.first !== spell.id"
                    value="{{spell.id}}"
                >
                  {{spell.name}}</ion-select-option
                >
              </div>
            </ion-select>
          </ion-item>
        </div>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <ion-text color="primary">
              Items
            </ion-text>
          </ion-label>
        </ion-item-divider>
        <div formArrayName="itemsBlock">
          <div
              *ngFor="let block of guideForm['controls'].itemsBlock['controls']; index as i"
          >
            <div formGroupName="{{i}}">
              <ion-item>
                <ion-label position="stacked">
                  <ion-text color="light">
                    Name this Roll
                  </ion-text>
                </ion-label>
                <ion-input
                    type="text"
                    formControlName="itemRollName"
                ></ion-input>
              </ion-item>

              <div formArrayName="itemArray">
                <div
                    *ngFor="let item of block['controls'].itemArray['controls']; index as j"
                >
                  <div formGroupName="{{ j }}">
                    <ion-item>
                      <ion-label>
                        <ion-text color="light">
                          {{ j + 1 }}º Item
                        </ion-text>
                      </ion-label>
                      <ion-select
                          formControlName="item"
                          placeholder="Select a item"
                      >
                        <ion-select-option
                            *ngFor="let gameItem of items"
                            value="{{gameItem.name}}"
                        >{{gameItem.name}}</ion-select-option
                        >
                      </ion-select>
                    </ion-item>
                  </div>
                </div>
                <ion-button expand="block" color="primary" (click)="addItem(i)"
                >Add New Item</ion-button
                >
              </div>
            </div>
          </div>
        </div>
        <ion-button expand="full" color="primary" (click)="addItemRoll()"
        >Add New Roll</ion-button
        >
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <ion-text color="primary">
              Abilities Progression
            </ion-text>
          </ion-label>
        </ion-item-divider>
        <div formGroupName="abilitiesProgression">
          <ion-list>
            <ion-item *ngFor="let level of levels; index as i">
              <ion-label>
                <ion-text color="light">
                  Level {{ level }}
                </ion-text>
              </ion-label>
              <ion-select formControlName="l{{i + 1}}">
                <ion-select-option value="q">Q</ion-select-option>
                <ion-select-option value="w">W</ion-select-option>
                <ion-select-option value="e">E</ion-select-option>
                <ion-select-option *ngIf="i >= 4" value="r"
                >R</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <ion-text color="primary">
              Threats
            </ion-text>
          </ion-label>
        </ion-item-divider>
        <div formArrayName="threats">
          <div
              *ngFor="let block of guideForm['controls'].threats['controls']; index as i"
          >
            <div formGroupName="{{i}}">
              <ion-item>
                <ion-label>
                  <ion-text color="light">
                    Select a Threat
                  </ion-text>
                </ion-label>
                <ion-select
                    formControlName="threat"
                    placeholder="Select a Threat"
                >
                  <ion-select-option
                      *ngFor="let champion of champions"
                      value="{{champion.id}}"
                  >{{champion.name}}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-textarea
                    formControlName="description"
                    placeholder="Add a description to this threat here"
                ></ion-textarea>
              </ion-item>
            </div>
          </div>
          <ion-button expand="block" color="secondary" (click)="addThreat()"
          >Add New Threat</ion-button
          >
        </div>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <ion-text color="primary">
              Description
            </ion-text>
          </ion-label>
        </ion-item-divider>
        <ion-textarea
            formControlName="description"
            placeholder="Add a description to your Guide here"
        ></ion-textarea>
      </ion-item-group>

      <ion-button expand="full" color="primary" (click)="onSubmit()"
      >Salvar
      </ion-button>

      <pre><ion-text color="light">{{guideForm.value | json}}</ion-text></pre>
    </form>
  </div>
</ion-content>
